*{
  box-sizing: border-box;
}
:root{
  --color-dark:#21213f;
  --color-light: #ffffff;
}
body{
  background-color: var(--color-light);
  transition: 0.3s;
}
body.dark{
  background: var(--color-dark);
}
input{display: none;}

.switch{
  overflow: hidden;
  display: flex;
  width: 60px;
  height: 30px;
  padding: 3px;
  border-radius: 15px;
  background: var(--color-dark);
  cursor: pointer;
}
.handel{
  position: relative;
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.handel::before,
.handel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.handel::before{
  background: var(--color-light);
}
.handel::after{
  background: var(--color-light);
  opacity: 0;
  translate: -7px -7px;
}
body.dark .switch{
  background: var(--color-light);
}
body.dark .handel{
  translate: 30px 0;
}
body.dark .handel::after{
  opacity: 1;
}
body.dark .handel::before{
  background: var(--color-dark);
}